<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
	<!-- inject style links -->
	<% for (let css in htmlWebpackPlugin.files.css) {
		let link = htmlWebpackPlugin.files.css[css];

		%><link rel="stylesheet" type="text/css" href="<%= link %>"><%
	} %>
	<!-- finished to inject style links -->
	<title>Fint the same</title>
</head>
<body>
	<div id="root" class="root"></div>
	<!-- inject scripts -->
	<% for (let chunk in htmlWebpackPlugin.files.chunks) {
		let link = htmlWebpackPlugin.files.chunks[chunk].entry;

		%><script type="text/javascript" src="<%= link %>"></script><%
	} %>
	<!-- finished to inject scripts -->
</body>
</html>